.weather-today {
  margin-top: 40px;
  margin-bottom: 40px;
}

.weather-today .city {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #ff2e63;
}

.weather-today ul {
  margin: 0;
  padding: 0;
}

.weather-today li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.weather-right {
  margin-top: 0;
}

.weather-today .temperature {
  font-family: "Montserrat", sans-serif;
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}

.weather-today .unit {
  font-family: "Space Mono", monospace;
  color: #212121;
  font-size: 28px;
  font-weight: 400;
}
